# ===============================
# Python build & packaging
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/

# ===============================
# Compiled extensions
# ===============================
*.so
*.dll
*.exe

# ===============================
# Wheel files
# ===============================
*.whl

# ===============================
# C++ object files
# ===============================
*.o
*.obj
*.lib
*.exp

# ===============================
# Visual Studio / Windows
# ===============================
.vs/
*.sln
*.vcxproj*
*.user
*.log

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# OS generated
# ===============================
.DS_Store
Thumbs.db
